<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="logfile" xsi:type="File" fileName="gerrit-check.log"
            layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}" 
            keepFileOpen="false"/>
  </targets>
  <rules>
    <logger name="*" writeTo="logfile" minlevel="Trace" />
  </rules>
</nlog>
